   
input[readonly] {
  background-color: rgb(211, 193, 193);
}
table {
  border-collapse: collapse;
  width: 800px;
  table-layout: fixed;
  box-sizing: border-box;
}
td input[type="text"] {
width: 100%;
box-sizing: border-box;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

body {
  background-color: rgb(212, 221, 230);
  padding: 20px;
}

tr.selected {
  background-color: yellow;
}

.button-container {
  display: none;
}

.button-container button {
  margin-right: 5px;
}

.select-cell {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.hidden {
display: none;
}

.detail-table {
margin-top: 20px;
border-collapse: collapse;
width: 100%;
table-layout: fixed;
}

.detail-table th,
.detail-table td {
border: 1px solid black;
padding: 8px;
text-align: left;
}

.modal-container {
position: relative;
top: 0;
left: 0;
width: auto;
height: auto;
}
.modal {
display: none;
position: absolute;
z-index: 1;
padding-top: 100px;
/* left: 0; */
/* top: 0; */
width: 420px;
height: 540px;
overflow: visible;
}

.modal-content {
background-color: #fefefe;
width: 405px;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.detailsText {
position: absolute;
top: 1px;
left: 10px;
}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

